<link type="text/css" rel="stylesheet" href="/admin/assets/javascripts/vendors/visual_element_editor/visual_element_editor.css">
<link rel="stylesheet" href="/admin/assets/javascripts/vendors/visual_element_editor/colorpicker/css/colorpicker.css" type="text/css" />
<link rel="stylesheet" href="/admin/assets/javascripts/vendors/visual_element_editor/colorpicker/css/layout.css" type="text/css" media="screen" />

<script type="text/javascript" src="/admin/assets/javascripts/vendors/visual_element_editor/colorpicker/js/colorpicker.js"></script>

<script type="text/javascript" src="/admin/assets/javascripts/vendors/jquery-ui.min.js"></script>
<script type="text/javascript" src="/admin/assets/javascripts/vendors/visual_element_editor/visual_element_editor.js"></script>
<script type="text/javascript" src="/admin/assets/javascripts/qor-banner-editor.js"></script>
<div class="qor-field">
  Hello
  <div class="bannerEditor">
  </div>
</div>

